- name: "Add to common env vars: {{ description }}"
  ansible.builtin.include_tasks: add_config_lines.yml
  vars:
    shell_type: "common env vars"
    filepath: "{{ full_shell_common_dir_path }}/{{ env_vars_filename }}"
    block_lines: "{{ config_lines }}"

