# vim: set filetype=bash:
# ANSIBLE-MANAGED CONFIGURATION FILE.
# SOURCED BY: THE USER'S LOGIN SHELL, IF IT'S BASH

################################################################################
# SET ENVIRONMENT VARS FOR A BASH LOGIN SHELL
################################################################################

{% for env_var in cfg_shell_env_vars %}
{{ '# ' }}{{ env_var.descrip }}
{{ 'export ' }}{{ env_var.name }}{{ '="' }}{{ env_var.val }}{{ '"' }}

{% endfor %}
################################################################################
# RUN POSIX-COMPATIBLE LOGIN COMMANDS FOR A BASH LOGIN SHELL
################################################################################

{% for action in cfg_shell_login_actions %}
{{ '# ' }}{{ action.descrip }}
{{ action.cmd }}

{% endfor %}
