# DO NOT MAKE CHANGES TO THIS FILE.
# THIS FILE IS MANAGED BY ANSIBLE.
# APPEND YOUR SHELL-COMMON CUSTOMIZATIONS TO FILES IN:
#   {{ shell_common_dir_path }}
# APPEND YOUR BASH-SPECIFIC CUSTOMIZATIONS TO FILES IN:
#   {{ bash_specific_dir_path }}
# See https://github.com/digimokan/ans-role-config-shell

# source $ENV, $BASH_ENV configuration
. "{{ bash_specific_dir_path }}/{{ std_env_filename }}"

# prevent $BASH_ENV sourcing in future calls
BASH_ENV=

# source environment vars
. "{{ bash_specific_dir_path }}/{{ env_vars_filename }}"

# source aliases/functions/etc, but only for interactive shells
[ "${PS1}" ] && . "{{ bash_specific_dir_path }}/{{ aliases_filename }}"

