# DO NOT MAKE CHANGES TO THIS FILE.
# THIS FILE IS MANAGED BY ANSIBLE.
# APPEND YOUR SHELL-COMMON CUSTOMIZATIONS TO:
#   {{ shell_common_dir_path }}/{{ env_vars_filename }}
#   {{ shell_common_dir_path }}/{{ interactive_filename }}
#   {{ shell_common_dir_path }}/{{ logout_actions_filename }}
# APPEND YOUR BASH-SPECIFIC CUSTOMIZATIONS TO:
#   {{ bash_specific_dir_path }}/{{ interactive_filename }}
# See https://github.com/digimokan/ans-role-config-shell

# source $ENV, $BASH_ENV configuration
. "{{ bash_specific_dir_path }}/{{ std_env_filename }}"

# prevent $BASH_ENV sourcing in future calls
BASH_ENV=

# source environment vars
. "{{ bash_specific_dir_path }}/{{ env_vars_filename }}"

# source interactive aliases, console-behavior, but only for interactive shells
[ "${PS1}" ] && . "{{ bash_specific_dir_path }}/{{ interactive_filename }}"

