# DO NOT MAKE CHANGES TO THIS FILE.
# THIS FILE IS MANAGED BY ANSIBLE.
# APPEND YOUR SHELL-COMMON CUSTOMIZATIONS TO:
#   {{ full_shell_common_dir_path }}/{{ logout_actions_filename }}
# See https://github.com/digimokan/ans-role-config-shell

# source common logout actions
. "{{ rel_shell_common_dir_path }}/{{ logout_actions_filename }}"

