# vim: set filetype=sh:
# DO NOT MAKE CHANGES TO THIS FILE.
# THIS FILE IS MANAGED BY ANSIBLE.
# APPEND YOUR SHELL-COMMON CUSTOMIZATIONS TO:
#   {{ full_shell_common_dir_path }}/{{ interactive_filename }}
# APPEND YOUR KSH-SPECIFIC CUSTOMIZATIONS TO:
#   {{ full_ksh_specific_dir_path }}/{{ interactive_filename }}
# See https://github.com/digimokan/ans-role-config-shell

# source common/ksh-specific interactive aliases and console-behavior
# shellcheck source=/dev/null
. "{{ full_ksh_specific_dir_path }}/{{ interactive_filename }}"

