# DO NOT MAKE CHANGES TO THIS FILE.
# THIS FILE IS MANAGED BY ANSIBLE.
# APPEND YOUR SHELL-COMMON CUSTOMIZATIONS TO:
#   {{ shell_common_dir_path }}/{{ env_vars_filename }}
#   {{ shell_common_dir_path }}/{{ interactive_filename }}
#   {{ shell_common_dir_path }}/{{ logout_actions_filename }}
# APPEND YOUR KSH-SPECIFIC CUSTOMIZATIONS TO:
#   {{ ksh_specific_dir_path }}/{{ interactive_filename }}
# See https://github.com/digimokan/ans-role-config-shell

# source interactive aliases and console-behavior
. "{{ ksh_specific_dir_path }}/{{ interactive_filename }}"

