# vim: set filetype=sh:
# ANSIBLE-MANAGED CONFIGURATION FILE.
# SOURCED BY: THE USER'S LOGIN SHELL, IF IT'S BOURNE OR KSH
# shellcheck disable=all

################################################################################
# ADD HOOK FOR EXECUTING LOGOUT ACTIONS ON BOURNE OR KSH LOGIN SHELL EXIT
# REF: https://docstore.mik.ua/orelly/unix3/upt/ch04_18.htm
################################################################################

trap '. "{{ sh_ksh_csh_tcsh_logout_file_path }}"; exit' 0

################################################################################
# SET ENVIRONMENT VARS FOR A BOURNE OR KSH LOGIN SHELL
################################################################################

{% for env_var in shell_env_vars %}
{{ '# ' }}{{ env_var.descrip }}
{{ 'export ' }}{{ env_var.name }}{{ '="' }}{{ env_var.val }}{{ '"' }}

{% endfor %}
################################################################################
# RUN POSIX-COMPATIBLE LOGIN COMMANDS FOR A BOURNE OR KSH LOGIN SHELL
################################################################################

{% for action in shell_login_actions %}
{{ '# ' }}{{ action.descrip }}
{{ action.cmd }}

{% endfor %}
