# vim: set filetype=zsh:
# ANSIBLE-MANAGED CONFIGURATION FILE.
# SOURCED BY: THE USER'S LOGIN SHELL, ON EXIT, IF THE LOGIN SHELL IS ZSH

################################################################################
# RUN POSIX-COMPATIBLE LOGOUT COMMANDS FOR A ZSH LOGIN SHELL
################################################################################

{% for action in shell_logout_actions %}
{{ '# ' }}{{ action.descrip }}
{{ action.cmd }}

{% endfor %}
