# vim: set filetype=zsh:
# ANSIBLE-MANAGED CONFIGURATION FILE.
# SOURCED BY: THE USER'S LOGIN SHELL, IF IT'S ZSH

################################################################################
# RUN POSIX-COMPATIBLE LOGIN COMMANDS FOR A ZSH LOGIN SHELL
################################################################################

{% for action in shell_login_actions %}
{{ '# ' }}{{ action.descrip }}
{{ action.cmd }}

{% endfor %}
