# DO NOT MAKE CHANGES TO THIS FILE.
# THIS FILE IS MANAGED BY ANSIBLE.
# APPEND YOUR SHELL-COMMON CUSTOMIZATIONS TO:
#   {{ shell_common_dir_path }}/{{ env_vars_filename }}
#   {{ shell_common_dir_path }}/{{ interactive_filename }}
#   {{ shell_common_dir_path }}/{{ logout_actions_filename }}
# APPEND YOUR ZSH-SPECIFIC CUSTOMIZATIONS TO:
#   {{ zsh_specific_dir_path }}/{{ interactive_filename }}
# See https://github.com/digimokan/ans-role-config-shell
# See https://github.com/digimokan/ans-role-config-shell

# source $ENV, $BASH_ENV configuration
. "{{ zsh_specific_dir_path }}/{{ std_env_filename }}"

