# DO NOT MAKE CHANGES TO THIS FILE.
# THIS FILE IS MANAGED BY ANSIBLE.
# See https://github.com/digimokan/ans-role-config-shell

# source $ENV, $BASH_ENV configuration
. "{{ rel_shell_common_dir_path }}/{{ std_env_filename }}"

