# vim: set filetype=zsh:
# ANSIBLE-MANAGED CONFIGURATION FILE.
# SOURCED BY: EVERY INSTANCE OF ZSH

################################################################################
# SET ENVIRONMENT VARS FOR A ZSH LOGIN SHELL
################################################################################

{% for env_var in cfg_shell_env_vars %}
{{ '# ' }}{{ env_var.descrip }}
{{ 'export ' }}{{ env_var.name }}{{ '="' }}{{ env_var.val }}{{ '"' }}

{% endfor %}
