# DO NOT MAKE CHANGES TO THIS FILE.
# THIS FILE IS MANAGED BY ANSIBLE.
# APPEND YOUR SHELL-COMMON CUSTOMIZATIONS TO:
#   {{ full_shell_common_dir_path }}/{{ interactive_filename }}
# APPEND YOUR ZSH-SPECIFIC CUSTOMIZATIONS TO:
#   {{ full_zsh_specific_dir_path }}/{{ interactive_filename }}
# See https://github.com/digimokan/ans-role-config-shell

# source common/zsh-specific interactive aliases and console-behavior
. "{{ full_zsh_specific_dir_path }}/{{ interactive_filename }}"

